@{
    ViewData["Title"] = "Professores";
}
<h1>Dados dos Professores</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Matéria</th>
            <th scope="col">Contato</th>
            <th scope="col">Email</th>
            <th scope="col">CEP</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mario Gomes</td>
            <td>Inglês</td>
            <td>(47) 99951-6147</td>
            <td>jw072774@gmail.com</td>
            <td>88356-000</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary">Endereço</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Mario Gomes</td>
            <td>Inglês</td>
            <td>(47) 99951-6147</td>
            <td>jw072774@gmail.com</td>
            <td>88356-000</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary">Endereço</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mario Gomes</td>
            <td>Inglês</td>
            <td>(47) 99951-6147</td>
            <td>jw072774@gmail.com</td>
            <td>88356-000</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary">Endereço</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button type="button" class="btn btn-primary">Adicionar novo Professor</button>
</div>