@{
    ViewData["Title"] = "Conhecimentos";
}

<ul class="list-group">
    <li class="list-group-item">Lógica de programação</li>
    <li class="list-group-item">Algoritmos</li>
    <li class="list-group-item">Expressões Aritméticas</li>
    <li class="list-group-item">Variáveis e tipos</li>
    <li class="list-group-item">Padrão Camel Case</li>
    <li class="list-group-item">Estrutura Sequencial</li>
    <li class="list-group-item">Estrutura Condicional</li>
    <li class="list-group-item">Estruturas Repetitivas</li>
    <li class="list-group-item">Vetores</li>
    <li class="list-group-item">Matrizes</li>
    <li class="list-group-item">Debug</li>
    <li class="list-group-item">Programação Orientação a Objetos</li>
    <li class="list-group-item">Classes</li>
    <li class="list-group-item">Métodos</li>
    <li class="list-group-item">Conexão da aplicação com o banco de dados</li>
    <li class="list-group-item">Testes Unitários</li>
    <li class="list-group-item">Programação Web: MVC(Model - View - Controller)</li>
    <li class="list-group-item">CRUD</li>
    <li class="list-group-item">Chamada de api</li>
    <li class="list-group-item">Uso do Git e Github</li>
    <li class="list-group-item">Branch</li>
    <li class="list-group-item">Publicar projeto</li>
</ul>